h1{
	font-family: 'Pattaya', sans-serif;
}
h2{
	font-family: 'Rubik Mono One', sans-serif;
}
h3{
	font-family: 'Press Start 2P', cursive;
}
h4{
	font-family: 'Kelly Slab', cursive;
}
h5{
	font-family: 'Amatic SC', cursive;
}